.text-field {
    -fx-background-color: -fx-text-box-border, #FF9900 ;
    -fx-background-insets: 0, 0 0 2 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, #FF9900 ;
}